<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My page title</title>
    <link rel="stylesheet" href="./app.component.css">
  </head>

  <body>
    <main>
            <header>
              <app-header></app-header>
            </header>
            
            <aside>
             <app-aside></app-aside>
            </aside>

            <section>
              <app-content></app-content>
            </section>

            <footer>
                <app-footer></app-footer>
            </footer>

    </main>
  </body>
</html>

<router-outlet></router-outlet>
