.main {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items: center;  
}

.logo {
    flex-grow: 1;

}

    #logo-header {
        width: 200px;
        height: 90px;
    }

.titulo {
    justify-content: center;
    flex-grow: 1;
}

.nav {
    justify-content: end;
    flex-grow: 1;
}

    #images{
        width: 130px;
        height: 80px;
    }