<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="logo">
            <img id="logo-header" src="https://th.bing.com/th/id/R.d59a3a0ec1ab94ca7b93db53fc610d91?rik=9AjArnQCoZV8Kw&pid=ImgRaw&r=0" alt="logo">
        </div>
    
        <div class="titulo">
            <h3>AGENCIA DE VIAJES</h3>
        </div>

        <div>
            <img id="images" src="https://cdn-icons-png.flaticon.com/512/18/18623.png" alt="icono">
        </div>
    
    </div>
</body>
</html>